extends ../dashboardLayout
block dashboardContent

  h1 Vender snack 
  div#snacksContainer
    //- select(name="") 
    //-   option(value="1") gaseosa 
    //-   option(value="2") papas 
    //-   option(value="3") bombombum 
    
    //- label(for="amount") cantidad
    //- input(type="number" name="amount") 
  script(src="/js/snacks.js")
