extends ../dashboardLayout
block dashboardContent

  h1 Vender snack 
  div#snacksContainer
  button#addSnackButton agregar otro snack
  div
    label(for="finishTotal") total a pagar
    input(type="text",disabled, id="finishTotal",name="finishTotal",value="0")
  script(src="/js/snacks.js")
