body{
  margin: 0;
  background: MintCream;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}
#discountContainer{
  display: flex;
  flex-direction: column;
}

.mainContainer{
  display: grid;
  grid-template-columns: 117px 1fr;
}


a{
  text-decoration: none;
  color:black;
}

header{
  height: auto;
  background-size: 100%;
  background: url("/img/fondoAgua.jpeg");
  padding: 1px;
  display: flex;
  justify-content: end;
  font-family:'Yantramanav', sans-serif;
}
.menu{
  list-style: none;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  font-family:'Yantramanav', sans-serif;
}

h1{
  margin: 10px;
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color:WhiteSmoke;
  -webkit-text-stroke:.1px rgb(13, 87, 13);
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
button{
  margin: 15px;
  height: auto;
  width: 30vw;
  border-radius: 5px;
  border-color: DarkTurquoise;
  background:Turquoise;
  color: white;
}

.button1{
  display: flex;
  justify-content: flex-end;
}
.button2{
  display: flex;
  justify-content: flex-end;
}

p{
  font-family: 'Yantramanav', sans-serif;
}

label{
  font-family: 'Yantramanav', sans-serif;
}
input{
  border-color: aqua;
}

